<?xml version="1.0" encoding="windows-1251"?>
<Requests xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="Requests.xsd">
<MB_req id="ID23" NameRec="1WorbitOpen" Description="открытие записи в настройки подсистемы навигации"><Mb_adr>1</Mb_adr><Mb_func>WRITE_16</Mb_func><Mb_pos>3787</Mb_pos><Mb_num>1</Mb_num><Mb_wr_data>A5A5</Mb_wr_data><Count>1</Count><Timeout_ms>100</Timeout_ms></MB_req><MB_req id="ID25" NameRec="1WorbitPN" Description="запись орбиты в настройки навигации"><Mb_adr>1</Mb_adr><Mb_func>WRITE_16</Mb_func><Mb_pos>3814</Mb_pos><Mb_num>15</Mb_num><Mb_wr_data>0000 A734 5C40 83A2 45AC D2F6 4531 5E40 C580 A803 4985 2CFB 4A8C 7E65 4A8E</Mb_wr_data><Count>1</Count><Timeout_ms>100</Timeout_ms></MB_req><MB_req id="ID24" NameRec="1WorbitClose" Description="закрытие записи орбиты в настройки навигации"><Mb_adr>1</Mb_adr><Mb_func>WRITE_16</Mb_func><Mb_pos>3787</Mb_pos><Mb_num>1</Mb_num><Mb_wr_data>5A5A</Mb_wr_data><Count>1</Count><Timeout_ms>100</Timeout_ms></MB_req></Requests>
